<gux-context-search-beta></gux-context-search-beta>
<gux-context-search-beta placeholder="Search"></gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Default Search Text"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="10 Matches Found"
  current-match="1"
  match-count="10"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Default Search Text"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="0 Matches Found"
  current-match="0"
  match-count="0"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="0 Matches Found"
  current-match="0"
  match-count="0"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1 Match Found"
  current-match="1"
  match-count="1"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100000 Match Found"
  current-match="1000"
  match-count="100000"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100000 Match Found"
  current-match="1000"
  match-count="100000"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="abc Match Found"
  current-match="100000"
  match-count="abc"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100 Match Found"
  current-match="100000"
  match-count="100"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="10 Matches Found"
  current-match="1"
  match-count="10"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled with no Match"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="0 Matches Found"
  current-match="0"
  match-count="0"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled with 1 match"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1 Matches Found"
  current-match="1"
  match-count="1"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled with big match"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100000000 Matches Found"
  current-match="10000"
  match-count="100000000"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1 Match Found"
  current-match="1"
  match-count="1"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100000001 Matches Found"
  current-match="1100"
  match-count="100000001"
  disabled="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Disable Navigate Mode"
  value="Navigation Disabled"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="10 Matches Found"
  current-match="1"
  match-count="10"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Navigation Disabled"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="0 Match Found"
  current-match="0"
  match-count="0"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Navigation Disabled"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1 Match Found"
  current-match="0"
  match-count="1"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Navigation Disabled"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100000000 Match Found"
  current-match="1000"
  match-count="100000000"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled Navigation Disable"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="10 Match Found"
  current-match="1"
  match-count="10"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled Navigation Disable"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="0 Match Found"
  current-match="0"
  match-count="0"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled Navigation Disable"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1 Match Found"
  current-match="1"
  match-count="1"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Search Disabled Navigation Disable"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1000000 Match Found"
  current-match="1"
  match-count="1000000"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="100 Match Found"
  current-match="1"
  match-count="100"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
<gux-context-search-beta
  placeholder="Search"
  title="Context Search"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label="1000000 Match Found"
  current-match="1"
  match-count="1000000"
  disabled="true"
  disable-navigation-mode="true"
>
</gux-context-search-beta>
